<% provide(:title, "Home") %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Home</h1>
      
      <%= render 'shared/messages' %>

      <% if logged_in? %>
        <div class="card mb-3">
          <div class="card-body">
            <%= form_with(model: @micropost, local: true) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="form-group">
                <%= f.text_area :content, placeholder: "Compose new micropost...",
                               class: "form-control", rows: 2 %>
              </div>
              <%= f.submit "Post", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Welcome to the Social Sample App</h5>
          <p class="card-text">This is a sample application for learning Ruby on Rails.</p>
        </div>
      </div>

      <% if logged_in? %>
        <h2>Your Microposts</h2>
        <%= render @feed_items %>
        <%= will_paginate @feed_items %>
      <% end %>
    </div>
  </div>
</div>
